@font-face {
    font-family: 'Crypta Nova - Monospaced';
    src:
        url('./assets/CryptaNova-Monospaced-Regular.otf')
        format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Crypta Nova - Monospaced';
    font-size: 10pt;
    background-color: #f4f4f4;
    color: #005baa;
    line-height: 1.4;
    padding: 0 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 80px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-right: 20px;
}

nav a {
    text-decoration: none;
    color: #005baa;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    text-decoration: underline;
}

.full-screen {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-about-project {
    text-align: left;
    width: 55vw;
    margin-top: 70px;
}

.title-about-project  {
    font-size: 22pt;
}

.full-text {
    text-align: left;
    width: 55vw;
    font-size: 14pt;
}

.tabloid {
    max-height: 490px;
    max-width: 600px;
    margin-left: 330px;
    opacity: 1;
    margin-top: 60px;
    display: flex;
    justify-content: center;

}

.full-screen-2 {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-about-team {
    text-align: left;
    width: 55vw;
    margin-top: 70px;
}

.title-about-team  {
    font-size: 22pt;
}

/* wrapper generale */
.team-wrapper {
  width: 55vw;
  margin: 20px auto 10px;
  display: flex;
  justify-content: center;
}

/* griglia */
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: clamp(80px, 8vw, 160px);
}

/* card */
.card {
  justify-self: center;
}

/* contenitore immagine */
.image-wrapper {
  position: relative;
  width: 350px;
  height: 350px;
}

/* immagini */
.image-wrapper img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

/* stato hover */
.img-hover {
  opacity: 0;
}

.card:hover .img-hover {
  opacity: 1;
}

.card:hover .img-base {
  opacity: 0;
}




