@font-face {
  font-family: 'Crypta Nova - Monospaced';
  src:
      url('./assets/CryptaNova-Monospaced-Regular.otf')
      format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Crypta Nova - Monospaced';
  font-size: 10pt;
  background-color: #f4f4f4;
  color: #005baa;
  line-height: 1.4;
  padding: 0 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 100px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding-right: 20px;
}

nav a {
  text-decoration: none;
  color: #005baa;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav a:hover {
  text-decoration: underline;
}

h3 {
  font-size: 15pt;
}

.tab {
  border: 2px solid #000;
  margin: auto 32% auto 32%;
}

.tab-text {
  padding: 20px;
}

.tab-text p {
  margin-top: 0;
}

.tab-text a {
  color: #005baa;      
  text-decoration: underline;
}

.tab-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #000;
  padding: 8px 8px 8px 10px;
  margin: 0;
}

.close {
  cursor: pointer;
  font-size: 18px;
  color: #000;
  margin-right: 10px;
}

.team-wrapper {
  width: 55vw;
  margin: 110px auto 5px;
  display: flex;
  justify-content: center;
}

.card {
  justify-self: center;
}

.image-wrapper {
  position: relative;
  width: 350px;
  height: 350px;
}

.image-wrapper img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.img-hover {
  opacity: 0;
}

.card:hover .img-hover {
  opacity: 1;
}

.card:hover .img-base {
  opacity: 0;
}




