@font-face {
    font-family: 'Crypta Nova - Monospaced';
    src:
        url('./assets/CryptaNova-Monospaced-Regular.otf')
        format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Crypta Nova - Monospaced';
    font-size: 12pt;
    background-color: #f4f4f4;
    color: #005baa;
    line-height: 1.4;
    padding: 0 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-right: 20px;
}

nav a {
    text-decoration: none;
    color: #005baa;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    text-decoration: underline;
}

.full-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-text {
    text-align: left;
    width: 55vw;
}

.full-text p {
    font-size: 14pt;
}

.full-text p:not(:last-child) {
    margin-bottom: 50px;
}

.img-gallery img {
  width: 100vw;
  margin: 35px;
}

.img-full img {
  width: 85vw;
  margin-bottom: 35px;
}

.flex-categories {
    display: flex;
    width: 85vw;
    gap: 80px;
}

.caption-wrapper {
    width: 25vw;
}

.category-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 16pt;
    cursor: pointer;
}

.icon {
    height: 50px;
} 

.arrow {
    font-size: 18px;
    margin-left: 15px;
    transition: transform 0.3s ease;
}

.caption-wrapper.open .arrow {
    transform: rotate(180deg);
}

.category-caption {
    width: 80%;
    margin: 0 auto;

    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
}

.caption-wrapper.open .category-caption {
    max-height: 500px;
    opacity: 1;
}

.grid-archive {
    width: 99vw;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    margin: 90px auto 60px -22px;
}

.grid-archive a {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-archive img {
    width: 100%;
    height: auto;
    display: block;
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .timeline {
    grid-template-columns: 1fr;
  }
}