@font-face {
    font-family: 'Crypta Nova - Monospaced';
    src:
        url('./assets/CryptaNova-Monospaced-Regular.otf')
        format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Crypta Nova - Monospaced';
    font-size: 10pt;
    background-color: #f4f4f4;
    color: #005baa;
    line-height: 1.4;
    padding: 0 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 80px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-right: 20px;
}

nav a {
    text-decoration: none;
    color: #005baa;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    text-decoration: underline;
}



.specimen_iniziale {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px - 50px);
    width: 100%;
}
.specimen_iniziale img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: block;
}


.text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.editors-note {
    text-align: left;
    width: 55vw;
    font-size: 16pt;
    margin: 0;
}

.full-text {
    text-align: left;
    width: 55vw;
    font-size: 14pt;
    margin: 0;
}

.video-specimen {
    height: calc(100vh - var(--nav-height)); /* oppure flex: 1 se usi layout a colonne */
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-specimen video {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: block;
}
