@font-face {
  font-family: 'Crypta Nova - Monospaced';
  src:
      url('./assets/CryptaNova-Monospaced-Regular.otf')
      format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Crypta Nova - Monospaced';
  font-size: 14pt;
  background-color: #f4f4f4;
  color: #005baa;
  line-height: 1.4;
  padding: 0 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 80px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding-right: 20px;
}

nav a {
  text-decoration: none;
  color: #005baa;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav a:hover {
  text-decoration: underline;
}

header {
  margin-bottom: 100px;
}

video {
  width: 100vw;
  padding: 0;
  margin-top: -80px;
  margin-left: -28px;
}

h3 {
  font-size: 15pt;
}

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 130px;
  padding: 20px;
  position: relative;
}

.timeline-wrapper {
  position: relative;
}

.timeline-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: #000;
  z-index: 1;
}


.timeline:last-of-type {
  padding-bottom: 200px;
}

.timeline::before:last-of-type {
  height: calc(100% + 400px);
}




.column {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.tab {
  border: 2px solid #000;
}

.tab-text {
  padding: 20px;
}

.tab-text p {
  margin-top: 0;
}

.tab-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #000;
  padding: 8px 8px 8px 10px; /* TOP RIGHT BOTTOM LEFT*/
  margin: 0;
}

.close {
  cursor: pointer;
  font-size: 18px;
  color: #000;
  margin-right: 10px;
}

.img-large img {
  width: 100%;
  display: block;
}

.img-full img {
  width: 100%;
  display: block;
  padding-bottom: 50px;
  z-index: 100;
}

.button {
  display: block;
  margin: 0px 610px 100px 610px;
  text-align: center;
  font-family: 'Crypta Nova - Monospaced';
  font-size: 13pt;
  text-decoration: none;
  border: 2px solid black;
  color: #005baa;
}

.button:hover {
  text-decoration: underline;
}

/* seconda guerra mondiale*/
.img-full {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.img-full img {
  width: 100%;
  display: block;
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .timeline {
    grid-template-columns: 1fr;
  }

  .timeline::before {
    display: none;
  }
}


.year-marker {
  position: absolute;
  left: 50%;                 
  transform: translateX(-100%);
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #000;
  z-index: 2;                 
  flex-direction: row-reverse; 
}



.year-marker .line {
  width: 40px;
  height: 2px;
  background-color: #000;
}

.year-marker.top {
  top: -15.5px;            
}

.year-marker.bottom {
  top: 1300px;           
}

.year-marker.top2 {
  top: -30px;           
}

.year-marker.bottom2 {
  top: 1300px;            
}

.year-marker span.line {
  margin-left: 10px;     
}




/* Responsive: mobile */
@media (max-width: 900px) {
  .timeline::before {
    left: 20px;
    transform: none;
  }

  .year-marker {
    left: 20px;
    transform: none;
  }

  .year-marker span.line {
    margin-left: 0;
    width: 30px;
  }
}