@font-face {
    font-family: 'Crypta Nova - Monospaced';
    src:
        url('./assets/CryptaNova-Monospaced-Regular.otf')
        format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Crypta Nova - Monospaced';
    background-color: #f4f4f4;
    color: #005baa;
    line-height: 1.4;
    padding: 0 40px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 80px;
    border-bottom: 1px solid #005baa;
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #005baa;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    text-decoration: underline;
}

header {
    text-align: center;
    margin-bottom: 100px;
}

h1 {

    font-size: 80px;
    line-height: 0.9;
}

h3 {
    font-size: 15pt;
}

.timeline {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px;
  padding: 60px;
}

.tab {
  border: 2px solid #000;
}

.tab-text {
    padding: 20px;
}

.tab-text p {
    margin-top: 0;
}

.tab-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #000;
  padding: 8px 8px 8px 10px; /* TOP RIGHT BOTTOM LEFT*/
  margin: 0;
}

.close {
  cursor: pointer;
  font-size: 18px;
  color: #000;
  margin-right: 10px;
}

.img-large img {
  width: 100%;
  display: block;
}



/*

.button {
    display: block;
    margin: 200px auto 100px auto;
    text-align: center;
    font-family: 'Crypta Nova - Monospaced';
    font-size: 13pt;
    text-decoration: none;
    color: #005baa;
}


.button:hover {
    text-decoration: underline;
}*/