@font-face {
    font-family: 'Crypta Nova - Monospaced';
    src:
        url('./assets/CryptaNova-Monospaced-Regular.otf')
        format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Crypta Nova - Monospaced';
    background-color: #f4f4f4;
    color: #005baa;
    line-height: 1.4;
    padding: 0 40px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 80px;
    border-bottom: 1px solid #005baa;
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #005baa;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    text-decoration: underline;
}

header {
    text-align: center;
    margin-bottom: 100px;
}

h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 80px;
    line-height: 0.9;
    letter-spacing: -2px;
    font-weight: 900;
}

#crypta-nova-img {
    display: block;
    width: 35%;
    height: auto;
    margin-left: 300px;
}

.row {
    display: flex;
    gap: 60px;
    margin-bottom: 100px;
    align-items: flex-start;
    width: 100%;
}

#first-row {
    margin-top: 100vh;
}

.row.reverse {
    flex-direction: row-reverse;
}

.img-placeholder {
    flex: 0 0 60%;
    height: 650px;
    background-color: #dcdcdc;
}


.text-block {
    flex: 1;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 9pt;
    text-align: justify;
    color: #005baa;
}

.text-block p {
    margin-top: 20px;
    margin-bottom: 0px;
}

.gallery-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 100px;
}

.gallery-item {
    width: 900px;
    height: 420px;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-text {
    font-family: 'Crypta Nova - Monospaced';
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.gallery-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.full-block {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#categorie-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

#categorie {
    height: 400px;
    width: auto;

}

#captions {
    display: flex;
    justify-content: center;
    font-size: 9pt;
    margin-top: 40px;
}

#captions p {
    width: 20%;
    padding: 0 90px;
}


.button {
    display: block;
    margin: 200px auto 100px auto;
    text-align: center;
    font-family: 'Crypta Nova - Monospaced';
    font-size: 13pt;
    text-decoration: none;
    color: #005baa;
}


.button:hover {
    text-decoration: underline;
}