@font-face {
    font-family: 'Crypta Nova - Monospaced';
    src:
        url('./assets/CryptaNova-Monospaced-Regular.otf')
        format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Crypta Nova - Monospaced';
    background-color: #f4f4f4;
    color: #005baa;
    line-height: 1.4;
    padding: 0 40px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 80px;
    border-bottom: 1px solid #005baa;
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #005baa;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
}

.frame {
    flex-grow: 1.2;
}

.column {
    flex-direction: column;
}

.description {
    flex-grow: 1.2;
}

