@font-face {
    font-family: 'Crypta Nova - Monospaced';
    src:
        url('../assets/CryptaNova-Monospaced-Regular.otf')
        format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Crypta Nova - Monospaced';
    font-size: 10pt;
    background-color: #f4f4f4;
    color: #005baa;
    line-height: 1.4;
    padding: 0 20px;
}

nav {
    display: flex;
    justify-content: space-between; /* sinistra + destra */
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding: 0 20px 10px;
    margin-bottom: 10px;
}

.nav-right {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #005baa;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    text-decoration: underline;
}

.main-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: calc(100vh - 60px);
    border-top: none;
}

.left-col {
    border-right: 1.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.card-img {
    width: 100%;
    max-height: calc(100vh - 10px - 30px - 60px);
    object-fit: contain;
}


.right-col {
    display: grid;
    grid-template-rows: 60% 40%;
    margin-left: 10px;
}

.top-row {
    border-bottom: 1.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 98%;
    max-width: 75%;
    text-align: left;
}

.title {
    font-size: 15pt;
}


.text {
    max-height: 40vh;
}


.bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    overflow: hidden;
}

.invito-img {
    max-width: 100%;
    max-height: 275px;
    object-fit: contain;
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .timeline {
    grid-template-columns: 1fr;
  }
}